#jinja2: trim_blocks:False
[[ ansible_managed | comment ]]

datacenter = "[[ _nomad_datacenter ]]"
data_dir = "/opt/nomad"
plugin_dir = "/opt/nomad/plugins"

bind_addr = "[[ _nomad_ipv4_bind ]]"
advertise {
  http = "{{ GetInterfaceIP \"[[ _nomad_ipv4_iface ]]\" }}"
  rpc = "{{ GetInterfaceIP \"[[ _nomad_ipv4_iface ]]\" }}"
  serf = "{{ GetInterfaceIP \"[[ _nomad_ipv4_iface ]]\" }}"
}
