#jinja2: trim_blocks:False
{{ ansible_managed | comment }}
vault {
  enabled          = true
  address          = "{{ nomad_vault_url }}"
{%- if nomad_vault_tls_ca is defined %}
  ca_file          = "{{ nomad_vault_tls_ca }}"
{%- endif %}
{%- if nomad_vault_tls_cert is defined %}
  cert_file        = "{{ nomad_vault_tls_cert }}"
{%- endif %}
{%- if nomad_vault_tls_key is defined %}
  key_file         = "{{ nomad_vault_tls_key }}"
{%- endif %}
{%- if nomad_vault_tls_verify is defined and not nomad_vault_tls_verify %}
  tls_skip_verify  = true
{%- endif %}
{%- if nomad_server %}
  create_from_role = "{{ nomad_vault_create_from_role }}"
  token            = "{{ __nomad_vault_token.json.auth.client_token }}"
{%- endif %}
}
