{{- with secret "[[ _ctpl_nomad_vault_pki_engine ]]/issue/[[ _ctpl_nomad_vault_pki_role ]]" "common_name=[[ _ctpl_nomad_vault_pki_cn ]]" "alt_names=[[ _ctpl_nomad_vault_pki_sans | join(',') ]]" "ip_sans=[[ _ctpl_nomad_vault_pki_ip_sans | join(',') ]]" "ttl=24h" }}
{{- .Data.private_key }}{{ end }}
